body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(47, 35, 76);
  background-image: url("C:\Users\kaakd\OneDrive\Desktop\Samanayastra\counter-master/billy-huynh-W8KTS-mhFUE-unsplash.jpg");
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.card-body{
  background-color:coral;
  color: chartreuse;
  height: auto;
  width: auto;
  border-radius: 10px;
  background-color: 2px solid coral;
  box-shadow: deeppink;
 
}
.btn btn-success mx-3{
   border: 2px solid black;
   box-shadow: var(-apple-system);
   font-size: 30px;
   font-weight: 600;
}
.F1{
  color: chartreuse;
  text-transform: uppercase;
  text-shadow: 40px chartreuse;
  animation: 3s ease-in 1s 2 reverse both paused slide-in;
  /* background-color: hsl(294, 94%, 52%); */
  text-align:center;
  font-size: 20px;
  text-decoration: none;
}

